body {
	background:black;
}

#game-area {
	margin-left: auto;
	margin-right: auto;
	width:700px;
}

#instructions {
	color: white;
	float:right;

	position:absolute;
	right:70px;
	top:200px;
	width:200px;
}

#game-title {
	color:white;

	margin-bottom: -15px;
	font-weight:normal;

	font-size: 15px;
	font-family:Verdana, sans-serif;

	position:relative;
	left:250px;
}

#output-panel {
	color:#418F62;
	float:right;
}

#game-score {
	float:left;
	color:#418F62;
}